<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.gmail.tabletgbd.FireRaceFree_20app"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Fire Race Free</name>

  <description>
      Jogo de corrida para celular e pc.
  </description>

  <author href="https://build.phonegap.com" email="tabletgbd@gmail.com">
      The Bomb.
  </author>
                    <icon src="icon.png" />
</widget>